/* Custom Theme Changes */
.bg-menu-theme .menu-sub>.menu-item.ml1{
    margin-left: 1rem;
}

.bg-menu-theme .menu-item.active>.menu-link:not(.menu-toggle){
    background-color: #AF4988;
}
.bg-menu-theme, .bg-menu-theme .menu-inner>.menu-item.active{
    background-color: #010125 !important;
}
.bg-menu-theme .menu-header{
    color: #a1abb5;
}
.page-item.active .page-link, .page-item.active .page-link:hover, .page-item.active .page-link:focus, .pagination li.active>a:not(.page-link), .pagination li.active>a:not(.page-link):hover, .pagination li.active>a:not(.page-link):focus{
    border-color: #AF4988;
    background-color: #AF4988;
}
.breadcrumb-wrapper a{
    color: #AF4988;
    font-weight: 500;
}
table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control:before, table.dataTable.dtr-inline.collapsed>tbody>tr>th.dtr-control:before{
    background-color: #AF4988;
}
.switch-primary.switch .switch-input:checked~.switch-toggle-slider{
    background: #AF4988;
}
/* .btn-primary{
    background-color: #d6272b;
    border-color: #d6272b;
}
.btn-primary:hover{
    background-color: #d35255;
    border-color: #d35255;
} */
.form-control:focus, .form-select:focus, .input-group:focus-within .form-control, .input-group:focus-within .input-group-text{
    border-color: #AF4988;
}
.form-check-input:checked{
    border-color: #AF4988;
    background-color: #AF4988;
}
.card .card-body.bg-dark{
    background-color: #010125 !important;
}

.layout-horizontal .app-brand-logo.demo{
    align-items: unset;
    justify-content: unset;
    width: auto;
    height: 50px;
}
.bg-menu-theme.menu-horizontal .menu-inner>.menu-item.active>.menu-link{
    background-color: #AF4988 !important;
}
.app-brand .layout-menu-toggle i, .authentication-wrapper .authentication-bg p a{
    color: #AF4988;
}
.authentication-wrapper .bs-stepper .step.active .bs-stepper-circle{
    background-color: #AF4988 !important;
}
.authentication-wrapper .bs-stepper .step.active .step-trigger::after{
    background-color: #AF4988;
}
.authentication-wrapper .bs-stepper .step.active .bs-stepper-label{
    color: #AF4988 !important;
}
.authentication-wrapper .bs-stepper .step.crossed .step-trigger .bs-stepper-circle{
    border-color: #AF4988 !important;
}
.authentication-wrapper .bs-stepper .step.crossed .step-trigger::after{
    background-color: #AF4988;
}

#melding_offcanvas .custom-option.checked{
    border: 1px solid #AF4988;
}
